body{
    font-family: 'NovaMono', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4{
    font-weight: normal;
}
/*the navber*/
header{
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px grey;
    z-index: 50;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}
.img {
    position: relative;
    left: 50px;
    cursor: pointer;
    width: fit-content;

}
.navbar{
    position: relative;
    bottom: 100px;
    left: 1105px;
    width: fit-content;

}
ul{
    width: 625px;
    height: 40px;
}
li{
    display: inline;
    margin-left: 41px;

}
li img{
    position: relative;
    top: 5px;
    width: 30px;
    height: auto;
}
ul a{
    text-decoration: none;
    color: #000000;

}
ul a:hover{
    color: #1A9AB6;
}
/*home section*/
nav{
    background-color: #F9F9F9;
    width: 100%;
    height: 50em;
}
#tekst{
    margin-top: 80px;
    width: 50%;
    height: 50em;
    float: left;
    text-align: center;
}
#tekst h1{
    font-size: 50px;   
}
#tekst h3{
    font-size: 30px;   
}
button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'NovaMono', sans-serif;
    color: #ffffff;
    font-size: 40px;
    background: #1A9AB6;
    padding: 22px 33px 22px 33px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #3498db);
    background-image: -moz-linear-gradient(top, #3498db, #3498db);
    background-image: -ms-linear-gradient(top, #3498db, #3498db);
    background-image: -o-linear-gradient(top, #3498db, #3498db);
    background-image: linear-gradient(to bottom, #3498db, #3498db);
    text-decoration: none;
  }
  /*Overons section*/
  main{
    clear: both;
    width: 70%;
    height: 48.125em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.main-photo img{
    width: 577px;
    height: 678px;
}
.main-photo {
  width: 577px;
  height: 678px;
  float: left;
}
.overons h2{
    font-size: 50px;
    text-align: center;
}
.overons {
    float: right;
}
.overons p{
    font-size: 25px;
}
.overons button{
    margin-left: 100px;
}
/*diensten section*/
article{
    clear: both;
    width: 100%;
    height: 48.125em;
    background-color: #F9F9F9;
}
.wrapper-diensten h2{
    
    font-size: 50px;
    margin-left: 30%;
}
.artikel1{
    margin-left: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 401px;
    float: left;
}
.artikel1 h4{
    text-align: center;
    font-size: 25px;
    color: #1A9AB6;
}
.artikel1 p{
    margin-left: 60px;
    font-size: 15px;
    color: #505050;
}
.artikel1 img{
    width: 100px;
    margin-top: 20px;
    margin-left: 130px;
}


.artikel2{
    margin-left: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 401px;
    float: left;
}
.artikel2 h4{
    text-align: center;
    font-size: 25px;
    color: #1A9AB6;
}
.artikel2 p{
    margin-left: 60px;
    font-size: 15px;
    color: #505050;
}
.artikel2 img{
    width: 100px;
    margin-top: 20px;
    margin-left: 130px;
}

.artikel3{
    margin-left: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 401px;
    float: left;
}
.artikel3 h4{
    text-align: center;
    font-size: 25px;
    color: #1A9AB6;
}
.artikel3 p{
    margin-left: 60px;
    font-size: 15px;
    color: #505050;
}
.artikel3 img{
    width: 100px;
    margin-top: 20px;
    margin-left: 130px;
}
.wrapper-diensten{
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 70%;
    height: 48.125em;
}
/*realisaties section*/
.onzewerk h2{
    font-size: 50px;
    text-align: center;
}
.werk1{
    width: 320px;
    height: 594px;
    position: relative;
    left: 30%;
    top: 4em;
}
.werk1 h4{
    color: #1A9AB6;
    font-size: 30px;
    text-align: center;
}
.werk1 p{
    margin-left: 40px;
    font-size: 20px;
}
.werk1 button{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #4F4F4F;
    padding: 15px 35px 15px 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
  
.werk1 button:hover {
    background: #1A9AB6;
    text-decoration: none;
  }
.werk1 img{
    margin-left: 25px;
}
.werk2{
    width: 320px;
    height: 594px;
    position: relative;
    left: 60%;
    bottom: 4em;
}
.werk2 h4{
    color: #1A9AB6;
    font-size: 30px;
    text-align: center;
}
.werk2 p{
    margin-left: 40px;
    font-size: 20px;
}
.werk2 button{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #4F4F4F;
    padding: 15px 35px 15px 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
  
.werk2 button:hover {
    background: #1A9AB6;
    text-decoration: none;
  }
.werk2 img{
    margin-left: 25px;
}

.werk3{
    width: 320px;
    height: 594px;
    position: relative;
    left: 30%;
    bottom: 8em;
}
.werk3 h4{
    color: #1A9AB6;
    font-size: 30px;
    text-align: center;
}
.werk3 p{
    margin-left: 40px;
    font-size: 20px;
}
.werk3 button{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #4F4F4F;
    padding: 15px 35px 15px 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
  
.werk3 button:hover {
    background: #1A9AB6;
    text-decoration: none;
  }
.werk3 img{
    margin-left: 25px;
}
/*contact section*/
#contact{
    width: 100%;
    height: 39.6875em;
    background-color: #F9F9F9;
    margin-bottom: 0;
}
#contact h2{
    font-size: 50px;
    text-align: center;
}
#contact h3{
    font-size: 35px;
    text-align: center;
    color: #4F4F4F;
}
#contact button{
    margin-left: 42%;
}
#contact img{
    position: relative;
    top: 3em;
    left: 40%;
}
#contact p{
    position: relative;
    bottom: 2em;
    left: 52%;
    width: fit-content;
}



